<a href="https://colab.research.google.com/github/dfiorellino/Ana-Pred/blob/main/ModelosPredictiva.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, RandomizedSearchCV, GridSearchCV
from sklearn.ensemble import RandomForestRegressor, ExtraTreesRegressor
from sklearn.metrics import accuracy_score, mean_absolute_error
from sklearn import preprocessing
from sklearn.metrics import r2_score
from sklearn.preprocessing import scale
from math import *

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
test =pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Prueba_test.csv',sep=',')

In [ ]:
entrenar=pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Prueba_entrenar.csv',sep=',')

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 269998 entries, 0 to 269997
Data columns (total 24 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Unnamed: 0              269998 non-null  int64
 1   averageRating           269998 non-null  float64
 2   numVotes                269998 non-null  int64
 3   isAdult                 269998 non-null  int64
 4   startYear               269998 non-null  int64
 5   endYear                 269998 non-null  int64
 6   runtimeMinutes          269998 non-null  int64
 7   seasonNumber            269998 non-null  int64
 8   episodeNumber           269998 non-null  int64
 9   high_director           269998 non-null  int64
 10  low_director            269998 non-null  int64
 11  high_writer             269998 non-null  int64
 12  low_writer              269998 non-null  int64
 13  high_genre              269998 non-null  int64
 14  titleType_movie         269998 non-null  int64
 15  titleType_short         269998 non-null  int64
 16  titleType_tvEpisode     269998 non-null  int64
 17  titleType_tvMiniSeries  269998 non-null  int64
 18  titleType_tvMovie       269998 non-null  int64
 19  titleType_tvSeries      269998 non-null  int64
 20  titleType_tvShort       269998 non-null  int64
 21  titleType_tvSpecial     269998 non-null  int64
 22  titleType_video         269998 non-null  int64
 23  titleType_videoGame     269998 non-null  int64
dtypes: float64(1), int64(23)
memory usage: 49.4 MB

In [ ]:
entrenar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630002 entries, 0 to 630001
Data columns (total 24 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Unnamed: 0              630002 non-null  int64
 1   averageRating           630002 non-null  float64
 2   numVotes                630002 non-null  int64
 3   isAdult                 630002 non-null  int64
 4   startYear               630002 non-null  int64
 5   endYear                 630002 non-null  int64
 6   runtimeMinutes          630002 non-null  int64
 7   seasonNumber            630002 non-null  int64
 8   episodeNumber           630002 non-null  int64
 9   high_director           630002 non-null  int64
 10  low_director            630002 non-null  int64
 11  high_writer             630002 non-null  int64
 12  low_writer              630002 non-null  int64
 13  high_genre              630002 non-null  int64
 14  titleType_movie         630002 non-null  int64
 15  titleType_short         630002 non-null  int64
 16  titleType_tvEpisode     630002 non-null  int64
 17  titleType_tvMiniSeries  630002 non-null  int64
 18  titleType_tvMovie       630002 non-null  int64
 19  titleType_tvSeries      630002 non-null  int64
 20  titleType_tvShort       630002 non-null  int64
 21  titleType_tvSpecial     630002 non-null  int64
 22  titleType_video         630002 non-null  int64
 23  titleType_videoGame     630002 non-null  int64
dtypes: float64(1), int64(23)
memory usage: 115.4 MB

In [ ]:
y_test =test['averageRating']

X_test =test[['numVotes','isAdult','startYear', 'runtimeMinutes', 'seasonNumber','episodeNumber','high_director','low_director','high_writer','low_writer','high_genre', 'titleType_movie', 'titleType_short', 'titleType_tvEpisode', 'titleType_tvMiniSeries', 'titleType_tvMovie','titleType_tvSeries','titleType_tvShort','titleType_tvSpecial',
                  'titleType_video']]

In [ ]:
y_train=entrenar['averageRating']

X_train=entrenar[['numVotes','isAdult','startYear', 'runtimeMinutes', 'seasonNumber','episodeNumber','high_director','low_director','high_writer','low_writer','high_genre', 'titleType_movie', 'titleType_short', 'titleType_tvEpisode', 'titleType_tvMiniSeries', 'titleType_tvMovie','titleType_tvSeries','titleType_tvShort','titleType_tvSpecial',
                  'titleType_video']]

EXTRE TREES

In [ ]:
extraTr = ExtraTreesRegressor(max_depth=29,n_estimators=190,random_state=42,bootstrap=True)
extra = extraTr.fit(X_train,y_train)

In [ ]:
extra.score(X_test, y_test)

0.37144220962746155

In [ ]:
extra.score(X_train, y_train)

0.6221301875885148

In [ ]:
# con 29 y 160 estimators 0.3713408102676746
# con 29 y 180 estimators 0.3713964300686944
# con 27 y 190 estimators 0.3707142067155824
# con 27 y 180 estimators 0.3707013338241545
# con 29 y 190 estimators 0.37144220962746155

Hiperparametros ExtraT

In [ ]:
fila = []

for i in range(22,27,2):
  print(i)
  regr2 = ExtraTreesRegressor(max_depth=i)
  fregr2 = regr2.fit(X_train,y_train)
  r2_train = fregr2.score(X_train, y_train)
  r2_test = fregr2.score(X_test, y_test)
  fila.append([i,r2_train,r2_test])

22
24
26

In [ ]:
scores_profundidad2 = pd.DataFrame(fila, columns=["max_depth","r2_train","r2_test"])
scores_profundidad2

   max_depth  r2_train   r2_test
0         22  0.435689  0.350511
1         24  0.490196  0.361295
2         26  0.554416  0.368333

In [ ]:
scores_profundidad = pd.DataFrame(fila, columns=["max_depth","r2_train","r2_test"])
scores_profundidad

   max_depth  r2_train   r2_test
0         27  0.586698  0.369364
1         29  0.655869  0.365579
2         31  0.716332  0.354665
3         33  0.772133  0.338961

In [ ]:
fila2 = []

for i in range(180,201,5):
  regr2 = ExtraTreesRegressor(max_depth=27,n_estimators=i,random_state=42)
  fregr2 = regr2.fit(X_train,y_train)
  r2_train = fregr2.score(X_train, y_train)
  r2_test = fregr2.score(X_test, y_test)
  fila2.append([i,r2_train,r2_test])

In [ ]:
scores_n_estimators = pd.DataFrame(fila2, columns=["n_estimators","r2_train","r2_test"])
scores_n_estimators

   n_estimators  r2_train   r2_test
0           180  0.586571  0.368689
1           185  0.586654  0.368701
2           190  0.586795  0.368755
3           195  0.586507  0.368683
4           200  0.586370  0.368729

RANDOM FOREST

Hiperparametros RF

In [ ]:
fila3 = []

for i in range(16,25,3):
  print(i)
  regr = RandomForestRegressor(max_depth=i,random_state=42)
  fregr = regr.fit(X_train,y_train)
  r2_train = fregr.score(X_train, y_train)
  r2_test = fregr.score(X_test, y_test)
  fila3.append([i,r2_train,r2_test])

16
19
22

In [ ]:
scores_profundidad2 = pd.DataFrame(fila3, columns=["max_depth","r2_train","r2_test"])
scores_profundidad2

   max_depth  r2_train   r2_test
0         16  0.414287  0.346844
1         19  0.502964  0.358525
2         22  0.611495  0.361338

In [ ]:
fila4 = []

for i in range(22,29,2):
  print(i)
  regr1 = RandomForestRegressor(max_depth=i,random_state=42)
  fregr1 = regr1.fit(X_train,y_train)
  r2_train = fregr1.score(X_train, y_train)
  r2_test = fregr1.score(X_test, y_test)
  fila4.append([i,r2_train,r2_test])

22
24
26
28

In [ ]:
scores_profundidad = pd.DataFrame(fila4, columns=["max_depth","r2_train","r2_test"])
scores_profundidad

   max_depth  r2_train   r2_test
0         22  0.611495  0.361338
1         24  0.684338  0.358779
2         26  0.749253  0.353266
3         28  0.801416  0.346430

In [ ]:
fila5 = []

for i in range(160,181,5):
  regr3 = RandomForestRegressor(max_depth=22,n_estimators=i,random_state=42)
  fregr3 = regr3.fit(X_train,y_train)
  r2_train = fregr3.score(X_train, y_train)
  r2_test = fregr3.score(X_test, y_test)
  fila5.append([i,r2_train,r2_test])

In [ ]:
scores_n_estimators = pd.DataFrame(fila5, columns=["n_estimators","r2_train","r2_test"])
scores_n_estimators

   n_estimators  r2_train   r2_test
0           160  0.612101  0.362257
1           165  0.612227  0.362288
2           170  0.612234  0.362339
3           175  0.612304  0.362399
4           180  0.612323  0.362430

In [ ]:
# n_estimators
  # 190 = 0.36706609620299324 
  # 200 = 0.36714470270550004 
  # 220 = 0.36730170717679556
  # 250 = 0.36746217335807163

Corro modelo RF optimo

In [ ]:
forest = RandomForestRegressor(max_depth=22,n_estimators=250,random_state=42) 
forest.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=22, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=250, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [ ]:
forest.score(X_test, y_test)

0.36746217335807163

In [ ]:
forest.score(X_train, y_train)

0.593084179727007

In [ ]:
# con todas 0.3624296251020177
# sin end year 0.36694465866068193
# sin end y episode 0.36598573416705504
# sin video game y end year 0.3669752413137337 (180) / 0.36706609620299324 (190) / (200) 0.36714470270550004 / (220) 0.36730170717679556/ (250) 0.36746217335807163
# sin end, game y isAdult 0.36543032783674956
# sin end game y season 0.3450829550304416

In [ ]:
resultados=pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Prueba_resultados.csv',sep=',')

In [ ]:
resultados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 321932 entries, 0 to 321931
Data columns (total 24 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Unnamed: 0              321932 non-null  int64
 1   numVotes                321932 non-null  int64
 2   isAdult                 321932 non-null  int64
 3   startYear               321932 non-null  int64
 4   endYear                 321932 non-null  int64
 5   runtimeMinutes          321932 non-null  int64
 6   seasonNumber            321932 non-null  int64
 7   episodeNumber           321932 non-null  int64
 8   id                      321932 non-null  int64
 9   high_director           321932 non-null  int64
 10  low_director            321932 non-null  int64
 11  high_writer             321932 non-null  int64
 12  low_writer              321932 non-null  int64
 13  high_genre              321932 non-null  int64
 14  titleType_movie         321932 non-null  int64
 15  titleType_short         321932 non-null  int64
 16  titleType_tvEpisode     321932 non-null  int64
 17  titleType_tvMiniSeries  321932 non-null  int64
 18  titleType_tvMovie       321932 non-null  int64
 19  titleType_tvSeries      321932 non-null  int64
 20  titleType_tvShort       321932 non-null  int64
 21  titleType_tvSpecial     321932 non-null  int64
 22  titleType_video         321932 non-null  int64
 23  titleType_videoGame     321932 non-null  int64
dtypes: int64(24)
memory usage: 58.9 MB

In [ ]:
df_resultados = resultados[['numVotes','isAdult','startYear', 'runtimeMinutes', 'seasonNumber', 'episodeNumber','high_director','low_director','high_writer','low_writer','high_genre', 'titleType_movie', 'titleType_short', 'titleType_tvEpisode', 'titleType_tvMiniSeries', 'titleType_tvMovie','titleType_tvSeries','titleType_tvShort','titleType_tvSpecial',
                  'titleType_video']]

In [ ]:
pred_res = extra.predict(df_resultados)

In [ ]:
output = pd.DataFrame(data={"averageRating": pred_res}).astype(str)
output.index = resultados.id
output.to_csv("prediccion_extraTrees2.csv", sep=',',index=True,  index_label='id')